.btn-sm-block{
	display: block !important;
	width: 100%;
	float: none !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}


.navbar-default .navbar-toggle {
	display: block;
	height:39px; /* 65px*/
	margin: 0;
}

.navbar-nav > li > .dropdown-menu {
	position:static;
	float:none;
}

.navbar-default .navbar-collapse {
	border: none;
}
.navbar-collapse.collapse {
	display: block;
	height: 0;
	overflow: hidden;
}

.navbar-collapse.collapse.in {
	display: block;
	height: auto;
	overflow: visible;
}

/***** Uniform *****/
.jsn-uniform.jsn-master .jsn-bootstrap .jsn-form-content .control-group {
	margin-left: 0;
	margin-right: 0;
}

.jsn-uniform .jsn-form-content label, .jsn-uniform .jsn-form-content .controls {
	float:none;
	width:auto;
	padding-left: 0;
	padding-right: 0;
}

.form-actions .btn-toolbar{
	text-align: center;
}

.btn.jsn-form-submit{
	margin: 10px 0 60px 0;
}

/*** tableaux responsives *****/

.table:not(.no-mobile) thead { display: none; }
.table:not(.no-mobile) tbody {
	position: relative;
}

.table:not(.no-mobile) tbody tr {
	display: block;
	position: relative;
}

.table:not(.no-mobile) tbody tr + tr {
	border-top: 2px solid #e51937;
}

.table:not(.no-mobile) tbody td::before {
	content: attr(data-th);
	font-weight: 600;
	color: #e51937;
	display: inline-block;
	width: 23.5%;
	word-wrap: break-word;
	position: absolute;
	left: 10px;
	text-align: left;
}
.table:not(.no-mobile) > thead > tr > th, .table:not(.no-mobile) > tbody > tr > th, .table:not(.no-mobile) > tfoot > tr > th, .table:not(.no-mobile) > thead > tr > td, .table:not(.no-mobile) > tbody > tr > td, .table:not(.no-mobile) > tfoot > tr > td {
	display: block;
	padding: 10px 5px 10px 28%;
	text-align: left !important;
}
.tecnic_mondossier .remove-button-td{
	width:100%;
}

.com_easyjobs .table > tbody > tr > td.buttons{
	padding-left: 25%;
	text-align: left;
	width: auto;
}

.com_easyjobs .table > tbody > tr > td.buttons > .btn-group{
	float: left;
}

h1, .likeh1 {
	font-size: 30px;
	margin-bottom: 15px;
}



/* Carousel */
.carousel .item {
	height: auto;
}

.carousel .slider-item{
	background-position: top center;
	background-size: 100% auto;
}

.carousel .carousel-caption{
	display: block;
}

.carousel .carousel-indicators{
	bottom: 70px;
}
	.carousel-indicators li {
		margin: 9px;
	}

.carousel-control .icon-prev, .carousel-control .icon-next{
	top: 40%;
}
.carousel-control > span.icon-prev, .carousel-control > span.icon-next {
	font-size: 2em;
}


/* Tecnic */
.header{
	background: #fff;
}

	.header-top{
		padding: 15px 0;
	}


		.header .brand{
			position: relative;
			display: block;
			overflow: inherit;
			margin-top: 0;
			text-align: center;
		}
			.header .brand .navbar-default {
				position: absolute;
				top: 5px;
				right: 0;
			}
			.header .brand .moduletable {
				float: none;
			}

			.header .brand img{
				width: auto !important;
				height: 39px !important;
			}


	.header .header-main .col-sm-12.col-md-8 {
		padding: 0;
	}

	.header .navbar-default {
		border: none;
		margin: 0;
		min-height: 0;
	}

		.header .navbar-collapse {
			clear: both;
		}

		.header .navbar-collapse.in, .header .navbar-collapse.collapsing {
			padding: 0;
			margin: 20px 0 0;
		}

			.header  .search-form .form-group input{
				border: 1px solid #d2d2d2;
				border-left: none;
				border-right: none;
				height: 50px;
				font-size: 15px;
			}

			.header .search-form button.btn{
				height: 50px;
				line-height: 50px;
				padding: 15px 20px;
				right: 15px;
			}

			.header .navbar .menu{
				float: none;
				font-size: 18px;
			}

			.header .navbar .menu > li{
				position: static;
				float: none;
				display: block;
				width: auto;
				padding: 0;
				background: #fff;
			}

			.header .navbar .menu > li > a.alternate, .header .navbar .menu > li > span.alternate{
				font-size: 15px;
				font-weight: 700;
				text-transform: none;
				color: #777;
				background: #f5f5f5 !important;
			}
			.header .navbar .menu > li > a.alternate:hover,
			.header .navbar .menu > li > a.alternate:focus{
				color: #353535;
				background: #FFF !important;
			}
			.header .navbar .nav > li a.alternate:hover span.caret,
			.header .navbar .nav > li a.alternate:focus span.caret{
				border-top-color: #353535;
			}

			.header .navbar .menu li{

			}

			.header .navbar .nav li > a, .header .navbar .nav li > span{
				white-space: normal;
				padding: 15px 15px 15px 25px;
				border-bottom: 1px solid #dedede;
			}

			.header .navbar .nav li br{
				display: none;
			}

			.header .navbar .nav > li > .dropdown-menu {
				padding: 0;
				margin-top: -1px;
				border: none;
				background: #f5f5f5;
			}

			.header .navbar .nav > li > .dropdown-menu li > a, .header .navbar .nav > li > .dropdown-menu li > span {
				font-size: 15px;
				font-weight: 700;
			}
			.header .navbar .nav > li > .dropdown-menu li.active > a,
			.header .navbar .nav > li > .dropdown-menu li.open > a,
			.header .navbar .nav > li > .dropdown-menu li:active > a,
			.header .navbar .nav > li > .dropdown-menu li:focus > a,
			.header .navbar .nav > li > .dropdown-menu li:hover > a {
				color: #e51937;
				background: #f5f5f5;
			}

			.header .navbar .nav > li > .dropdown-menu li > a.alternate, .header .navbar .nav > li > .dropdown-menu li > span.alternate {
				font-weight: 400;
				color: #777;
				background: #fff  !important;
			}
			.header .navbar .nav > li > .dropdown-menu li > a.alternate:hover,
			.header .navbar .nav > li > .dropdown-menu li > a.alternate:focus{
				color: #e51937;
			}

			.header .navbar .nav > li > .dropdown-menu a {
				padding-top: 15px;
				padding-bottom: 15px;
				border-left: 0;
				border-right: 0;
			}
			.header .navbar .nav li > a.courses {
				padding-left: 80px;
			}
			.header .navbar .nav li > a.courses::before {
				font-size: 2.5em;
			}

			.header .navbar .nav > li li.dropdown span.caret::before{
				content: '\e804';
			}

			.header .navbar .nav > li li.dropdown.open span.caret::before{
				content: '\e807';
			}
			.header .navbar .nav > li > a.find-school, .header .navbar .nav > li > a.register-online {
				padding-left: 55px;
			}
			/* .header .navbar .nav > li > a.find-school::before, .header .navbar .nav > li > a.register-online::before {
				margin-top: -7px;
				left: 25px;
			}
			.header .navbar .nav > li > a.find-school:after, .header .navbar .nav > li > a.register-online:after {
				margin-top: 6px;
				left: 30px;
			} */

			.header .navbar .nav > li > a.find-school::before, .header .navbar .nav > li > a.register-online::before {
				font-size: 2.5em;
				margin-top: 0;
				top: 0;
				left: 20px;
			}

			.header .navbar .nav > li > a > i.icon-switch {
				display: inline-block;
				margin-right : 8px;
			}

			.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
				color: #e51937;
			}

			.header .navbar .nav .sub-menu{
				position: static;
				float: none;
				display: none !important;
				width: auto;
				height: 0;
				padding: 0;
				background: #fff;
				border: none;
				overflow: hidden;
				font-size: 17.6px;
				box-shadow: none;
				border-bottom: 1px solid #ddd;
				margin-bottom: -1px;
			}
			.header .navbar .nav > li li.dropdown ul {
				margin-top: 0 !important;
			}
			.header .navbar .nav > li li.dropdown .active a {
				color: #e51937;
			}

			.header .navbar .nav .open > .sub-menu{
				display: block !important;
				height: auto;
			}

				.header .navbar .nav li > a.courses {
					font-weight: 700 !important;
				}

				.header .navbar .nav .open > .sub-menu li > a{
					font-weight: 400;
				}
				.header .navbar .nav .open > .sub-menu li.active a {
					background: #e51937;
					color: #fff;
				}
			.header .top-menu .menu > li, .header .mod-languages .lang-inline > li {
				display: block;
				margin: 0;
			}
			.header .top-menu .menu > li a, .header .mod-languages .lang-inline > li a {
				display: block;
				font-size: 15px;
				font-weight: 700;
				padding: 15px 15px 15px 25px;
				background: #f5f5f5;
			}


#breadcrumbWrap{
	background-position: 75% bottom;
	margin-bottom: 25px;
}
	.breadcrumb {
		padding: 20px 0;
	}
		.breadcrumb > li.active > span{
			max-width: none;
			font-size: 28px;
		}

		#breadcrumbWrap .vehicle,
		#breadcrumbWrap .pastille{
			display: none;
		}

.footer{

}

	.footer .pastille{
		position: absolute;
		right: 15px;
		top: -15px;
		z-index: 10;
	}

	.social-icons-footer .social-icon{
		font-size: 36px;
		width: 35px;
	}

	.social-icons-footer .social-icon > i.tecnic-icon-instagram::before{
	    bottom:7px;
	}

	.footer > .container > .row > div {
		margin-bottom: 20px;
	}

	.footer-menu{

	}

		.footer-menu .menu{
			margin: 0 -15px;
		}

			.footer-menu .menu > li{
				width: 44%;
				height: 54px;
				margin: 0 2.5% 20px;
			}

				.footer-menu .menu > li > span{
					cursor: pointer;
				}

				.footer-menu .menu > li > span:hover, .footer-menu .menu > li > span:focus{
					color: #f2eb0b;
				}

				.footer-menu .menu > li > .nav{
					display: none;
				}

	.copymade {

	}

		.copymade > div {
			padding: 8px 135px 8px 0;
		}

			.copymade > div > .logo-footer{
				right: 15px;
			}

			.copymade > div > .copyright{

			}

				.copymade .agency{
					display: block;
					margin-top: 10px;
					margin-left: 10px;
				}


/***** Module Bloc Cours TECNIC *****/
.block-courses{
	padding: 30px 0;
}

	.block-courses a{
		width: 33.333%;
		height:140px;
	}

	.block-courses a:last-child{
		/*display: none;*/
	}


    .block-courses a.ans-block{
        display: inline-block !important;
    }



/***** Module Bloc Trouve une école | Inscris-toi en ligne *****/
.block-tecnic-cta{
	background: url(../images/background-module-quebec-mobile.jpg) no-repeat center center #9d9d9d;
	background-size: cover;
}

	.block-tecnic-cta > div[class^="col-"], .block-tecnic-cta > div[class*=" col-"]{
		height: auto;
		padding: 80px 15px 60px;
	}

	.block-tecnic-cta .likeh2{

	}

		.block-tecnic-cta .likeh2 > span{

		}

	.block-tecnic-cta .btn{
		display: block;
	}

		.block-tecnic-cta .btn > i{

		}

		.block-tecnic-cta .btn > i::before{

		}


/***** Module Bloc Nos experts en parlent *****/
.block-three-blocks{

}

	.block-three-blocks .row > div > a{
		display: inline-block;
		margin: 15px 0;
	}

		.block-three-blocks .row > div > a > img{
			width: 100%;
		}




/***** Module Bloc Nos experts en parlent *****/
.block-news{

}
	.block-news .newsflash-heading{
		margin-bottom: 15px;
	}

	   .block-news .btn{
			margin-top: 30px;
		}


/***** Module Bloc Pourquoi choisir TECNIC ? *****/
.block-why{

}

	.block-why img{
		display: block;
		float: none;
		margin: 0 auto 30px;
	}

	.block-why .btn{
		display: block;
		width: 200px;
		margin: 30px auto 50px;
	}

.block-home-title > .container {
	padding: 30px 15px;
}
.block-home-title h1 {
	font-size: 30px;
}
.block-home-title > .container .row > div,
.block-home-title h1 {
	padding: 0 15px;
}
/***** Module Bloc Infolettre *****/
.block-infolettre{
}

	.block-home.block-infolettre > .container {
		background-position: center 217%;
	}

/***** Modules Aside *****/

#sidebar .moduletable{
	max-width: 100%;
}
	.block-search .searchForm .limit {
		float: right;
	}

/***** Module Bloc Pratiquez vous en ligne *****/
#aside .block-pratice{

}

	#aside .block-pratice a{
		display: inline-block;
	}

		#aside .block-pratice a > img{
			width: 100%;
		}

/***** Module Menu des cours *****/
	.course-menu h3, .concours-menu h3, .affiliated-menu h3 {
		display: block;
	}
	.course-menu ul, .concours-menu ul, .affiliated-menu ul {
		padding-bottom: 10px;
		border-bottom: 4px solid #e51937;
	}
		.course-menu ul > li > a, .concours-menu ul > li > a, .affiliated-menu ul > li > a,
		.course-menu ul > li.active > a, .course-menu ul > li > a:hover, .course-menu ul > li > a:focus, .concours-menu ul > li.active > a, .concours-menu ul > li > a:hover, .concours-menu ul > li > a:focus, .affiliated-menu ul > li.active > a, .affiliated-menu ul > li > a:hover, .affiliated-menu ul > li > a:focus {
			padding: 6px 0 !important;
			height: auto;
			background: none;
			text-transform: none;
			color: #004990;
		}
		.course-menu ul > li > a:hover, .concours-menu ul > li > a:hover, .affiliated-menu ul > li > a:hover,
		.course-menu ul > li.current > a, .concours-menu ul > li.current > a, .affiliated-menu ul > li.current > a {
			color: #e51937 !important;
		}
		.course-menu ul > li > a.step {
			padding-left: 35px !important;
		}
		.course-menu ul > li > a.step::before, .concours-menu ul > li > a.step::before, .affiliated-menu ul > li > a.step::before {
			top: 0;
			left: 0;
			background-color: #004990;
		}
			.course-menu ul > li > a br, .concours-menu ul > li > a br, .affiliated-menu ul > li > a br,
			.course-menu ul > li.active > a:after, .concours-menu ul > li.active > a:after, .affiliated-menu ul > li.active > a:after {
				display: none;
			}
			.course-menu ul > li.active > a.step::before, .course-menu ul > li > a.step:hover::before, .course-menu ul > li > a.step:focus::before, .concours-menu ul > li.active > a.step::before, .concours-menu ul > li > a.step:hover::before, .concours-menu ul > li > a.step:focus::before, .affiliated-menu ul > li.active > a.step::before, .affiliated-menu ul > li > a.step:hover::before, .affiliated-menu ul > li > a.step:focus::before {
				color: #fff;
				background-color: #e51937;
			}

	#sidebar .course-menu h3, #sidebar .concours-menu h3, #sidebar .affiliated-menu h3 {
		font-size: 16px;
		line-height: 1;
		text-transform: uppercase;
		padding: 15px 20px;
		margin-left: -15px;
		background: #e51937;
		color: #fff;
		margin-right: 20px;
	}
	#sidebar .course-menu h3 br, #sidebar .concours-menu h3 br, #sidebar .affiliated-menu h3 br {
		display: none;
	}

	#sidebar .course-menu h3::before, #sidebar .concours-menu h3::before, #sidebar .affiliated-menu h3::before {
		content: "☰";
		margin-right: 10px;
	}
	#sidebar .course-menu h3:after, #sidebar .concours-menu h3:after, #sidebar .affiliated-menu h3:after {
		position: absolute;
		right: 0;
		top: 5px;
		display: block;
		width: 0;
		height: 0;
		content: "";
		border: none;
		right: 25px;
		border-left: 10px solid #e51937;
		border-top: 23px solid transparent;
		border-bottom: 23px solid transparent;
	}

/***** Vue grille vignettes *****/
.thumbnail-bloc img {
	width: 100%;
}

/***** Page concours *****/
.concours-tirage {
	padding: 0 15px;
}
	.concours-tirage > div,
	.concours-tirage > div > * {
		display: block;
		padding: 0;
	}
	.concours-tirage label {
		width: 100%;
	}

	.concours-tirage .separator {
		border-top: 2px solid #fff;
		border-right: none;
		margin: 10px;
	}

.liens-utiles #content .row {
	margin-bottom: 30px;
}

	.liens-utiles #content .row > div:first-child {
		text-align: center;
	}

	.liens-utiles #content .row > div:first-child a{
		display: inline-block;
		margin: 10px auto;
	}

/***** Page Connexion *****/

.com_users.view-login .form-group.small{
	text-align: center;
	font-size: 16px;
}

.com_users.view-login .form-group.small .checkbox{
	margin-bottom: 5px;
}


/***** Page nouvelles *****/
.nouvelles .blog .item .item-image {
	text-align: center;
	text-transform: uppercase;
	text-transform: uppercase;
}
.item-page .item-image {
	margin-bottom: 25px;
}
.item-page h1 {
	margin-bottom: 15px;
}
#content, #aside {
	padding-bottom: 30px;
}




/***** Trouver une école *****/
.page_schools{

}

	.page_schools .filter-block{
		padding: 20px 0;
	}

	.page_schools .filter-sidebar{
		padding-top: 0;
	}

		.page_schools .filter-sidebar .btn{
			/* width: 100%; */
		}

	.page_schools .nav-tabs{
		float: none !important;
	}

		.page_schools .nav-tabs li{
			display: block;
			float: none;
			margin: 0 0 15px !important;
		}

			.page_schools .nav-tabs li > a{
				display: block;
				float: none;
				padding: 15px 15px;
			}

	.page_schools .school-item{

	}

		.page_schools .school-item .row{
			margin: 0;
		}

			.page_schools .school-item .image{
				text-align: center;
				margin-bottom: 20px;
			}

			.page_schools .school-item .courses{
				text-align: left;
			}

				.page_schools .school-item .courses br{
					display: none;
				}

				.page_schools .school-item .courses i{
					margin: 0 20px 0 0;
				}

/***** Google Maps *****/




/***** Fiche école *****/
.school-view{

}

	.school-view .school-box-courses .course span{
		padding: 20px 0 0 10px !important;
	}


/***** Inscription en ligne *****/
.tecnic_register .nav-btn .btn + .btn {
	/* margin-top: 10px; */
}

/***** Inscription en ligne *****/

/** Step 3 **/
.tecnic_register .filter-location > div{
	margin-bottom: 20px;
}

.tecnic_register .register_position .block-info{
	margin-top: 20px;
}


/** Step 4 **/

.tecnic_register .table > tbody tr + tr, .tecnic_mondossier .table > tbody tr + tr{
	border-top: none !important;
}

	.tecnic_register .table > tbody td::before, .tecnic_mondossier .table > tbody td::before{
		color: #334899;
	}

	.tecnic_register .table-hover > tbody > tr.active > td::before,
	.tecnic_register .table-hover > tbody > tr:hover > td::before,
	.tecnic_register .table-hover > tbody > tr:focus > td::before,
	.tecnic_mondossier .table-hover > tbody > tr.active > td::before,
	.tecnic_mondossier .table-hover > tbody > tr:hover > td::before,
	.tecnic_mondossier .table-hover > tbody > tr:focus > td::before{
		color: #FFF !important;
	}

	.tecnic_register .table > tbody > tr > td.check, .tecnic_register .table > tbody > tr > td.choose{
		padding-left: 0;
		text-align: center !important;
	}

	.tecnic_register .table > tbody > tr > td > i{
		top: -7px;
		bottom: auto;
	}


/** Step 5 **/
.tecnic_register .filter-product .product_price{
	text-align: center;
}


.tecnic_mondossier.dashboard > .row > .item, .tecnic_register .register_products > .row > .item{
	border: none !important;
}


/** Step 6 **/
.tecnic_register td.option_price, .tecnic_register td.total{
	text-align: left;
}

.tecnic_register td.total{
	font-weight: bold;
}

.tecnic_register td.quantity{
	text-align: left;
}

	.tecnic_register .qtyless, .tecnic_register td.quantity .input-append{
		position: relative;
		float: none;
		padding-right: 21px;
	}
		.tecnic_register .quantity_value{
			width: 40px !important;
			padding: 0 10px !important;
			text-align: right !important;
		}
		.tecnic_register .qtyless, .tecnic_register .qtymore{
			position: static;
			top : auto;
			right : auto;
			bottom : auto;
			left : auto;
			width: 40px !important;
			height: 40px !important;
			margin: 0;
			padding: 0;
			font-size: 16px;
			line-height: 18px;
		}

		.tecnic_register .qtyless{
			margin-right: 5px;
		}

		.tecnic_register .qtymore{
			margin-left: 5px;
		}

/** Step 7 **/

.tecnic_register .nav-tabs.nav-style2 {

}

	.tecnic_register .nav-tabs.nav-style2 > li{
		/* width: 100%;
		margin: 5px 0; */
	}



/** Step 8 **/

.tecnic_register .table > tbody > tr.subtotal{
	border-top : 2px solid #595959 !important
}
.tecnic_register .table > tbody > tr.subtotal.no_top_border{
	border-top : none !important;
}
.tecnic_register .table > tbody td.red::before, .tecnic_mondossier .table > tbody td.red::before{
	color: #e51937;
}
.tecnic_register .table > tbody > tr.conditions.rabais > td::before{
	color: #e51937;
}

.tecnic_register .table > tbody > tr.taxe, .tecnic_register .table > tbody > tr.total{
	border-top : none !important
}

/** Step 9 **/
.tecnic_register .register_payment .option_price,
.tecnic_mondossier .register_payment .option_price{
	text-align: left;
}

.tecnic_mondossier .well.payment-amount.receipt-nochoice{
	padding: 15px 15px 10px;
}

.tecnic_mondossier .well.payment-amount.receipt-choices{
	padding: 15px 15px 10px;
}

.tecnic_mondossier .well.payment-receipt{
	margin-top: 40px;
}

/** Step 10 **/


/***** Mon dossier *****/

.tecnic_mondossier .nav-btn .btn + .btn {
	margin-top: 10px;
}

/* Dashboard */
.tecnic_mondossier.dashboard{

}

	.tecnic_mondossier.dashboard .item .item-body .item-cart{
		text-align: left;
	}


.moduletable.member-menu{
	max-width: none;
}

.tecnic_mondossier .phase .item-course .course-action .jumelage_proposed_container a.btn{
	width: 100%;
	margin: 0;
	margin-top: 10px;
}

/* Cours cancel */
.tecnic_mondossier #cancel_popup_container{
	width: 90%;
    left: 5%;
	top:5%;
}
.tecnic_mondossier #cancel_popup_container .cancel_popup_buttons a{
	display: block;
	width:100%;
	margin-bottom:10px;
}
.tecnic_mondossier #cancel_popup_container .cancel_popup_buttons .btn + .btn{
	margin-left:0;
}

/* Cours details et assignation */
.tecnic_mondossier .item .item-body.item-course .cours-assignation-item{
	padding-left:36px;
}
.tecnic_mondossier .item .use-availabilities-item-content{
    padding-left:0px;
}



/* Availabilities */
.tecnic_mondossier .week{

}

	.tecnic_mondossier .week > .tr{
		float: none;
		width: 100%;

		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
	}

	.tecnic_mondossier .week > .tr.hours{
		display: none;
	}

		.tecnic_mondossier .week > .tr > .th{
			border-top: none;
		}

			.tecnic_mondossier .week > .tr > .th > .hour{
				display: inline-block;
				width: 20%;
				padding: 5px;
				border-right: none;
			}

			.tecnic_mondossier .week > .tr > .th > .day{
				display: inline-block;
				width: 80%;
			}

		.tecnic_mondossier .week > .tr.monday > .th{
			border-top: 1px solid #CCC;
		}

		.tecnic_mondossier .week > .tr > .td{
			display: block;
			padding: 0;
			text-align: left;

			border-bottom: 1px solid #CCC;
			background: #ffffff;
		}

			.tecnic_mondossier .week > .tr > .td > .hour{
				display: inline-block;
				width: 20%;
				padding: 5px;
				border-right: 1px solid #CCC;
			}

			.tecnic_mondossier .week > .tr > .td > .availability{
				display: inline-block;
				width: 80%;
			}



/* Mon horaire */
.tecnic_mondossier #course_form .product-payment{
	text-align: left;
	padding-top: 30px;
}

.tecnic_mondossier .phase .item-course.no_bottom_border{
	padding-bottom:0;
}

.tecnic_mondossier .phase .item-head .item-progress, .tecnic_mondossier .phase .item-course .course-action{
	text-align: left;
}
.tecnic_mondossier .phase .item-course.no_bottom_border .course-action{
	top:60px;
	margin-bottom:-60px;
}

.tecnic_mondossier .phase .item-head{
	padding-top: 0;
	padding-bottom: 10px;
}

.tecnic_mondossier .phase .item-course{
	padding-top: 10px;
	padding-bottom: 10px;
}
.tecnic_mondossier .phase .item-course.prev_has_observation{
	padding-bottom:60px;
	padding-top:0;
}

.tecnic_mondossier .phase .item-head > div, .tecnic_mondossier .phase .item-course > div{
	min-height: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tecnic_mondossier .phase .item-head .item-info{
	padding-bottom: 0;
}

.tecnic_mondossier .phase .item-head .item-progress{
	padding-top: 0;
}

.tecnic_mondossier .phase .item-course .course-action{
	font-weight: 600;
}
.failed_jumelage_alert_container .btn{
    margin-left:0 !important;
}
.tecnic_mondossier #course_form .phases .course-action .course-status.finished{
	float:none !important;
}

/* Cart */

.tecnic_mondossier .cart-table tr td.cart_product_title{
	padding: 0 10px 0 10px;
	display: inline-block;
	width: calc(100% - 50px);
}
.tecnic_mondossier .cart-table tr td.remove-product-all{
	display: inline-block;
	padding: 0 5px 0 0;
	width: 50px;
	float: right !important;
}

.tecnic_mondossier .table.cart-table > tbody > tr.total {
	padding-top:15px;
}
.tecnic_mondossier .table.cart-table > tbody::before{
	content: '';
	display: block;
	height: 5px;
}
.tecnic_mondossier .table.cart-table > tbody::after{
	content: '';
	display: block;
	height: 25px;
}
.tecnic_mondossier .table.cart-table > tbody.cart-totals::after{
	content: '';
	display: block;
	height: 0px;
}

.tecnic_mondossier .tecnic_cart td.cart_product_title_row {
	width: 100%;
}


.table.cart-table > tbody > tr + tr {
	border-bottom: 1px solid #eee;
}
.table.cart-table > tbody > tr:last-child {
	border-bottom: none !important;
}
.tecnic_mondossier .tecnic_cart td.cart_product_title_row{
	/* width: 70%;*/
	padding: 10px 5px 10px 28%;
}
.tecnic_mondossier .cart-table tr td.spacing-left{
	border-left:none;
}

/* Payment */

.tecnic_mondossier .tecnic_coursepayment td.infos, .tecnic_mondossier .tecnic_coursepayment td.amount, .tecnic_mondossier .tecnic_coursepayment td.total{
	width: auto;
}
